@model Models.Course.CourseDetailsViewModel



<h2>@ViewBag.Title</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetAudience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetAudience)
        </dd>
    </dl>
</div>
<div>
    <h3>Tilmeldte ansatte</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model.Participants){
            <tr>
                <td>@p.Name</td>
                <td>@p.Email</td>
                <td>@Html.ActionLink("Frameld", "DeleteParticipant", new { courseId = Model.Id, email = p.Email })</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @using (Html.BeginForm("AddParticipant", "Course", new { courseId = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.Label("Email")
        @Html.TextBox("email")

        <button type="submit">Tilmeld</button>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
