@model Models.Login.LoginViewModel
@{
    ViewData["Title"] = "Log på";
}
<header>
    <h2>@ViewBag.Title</h2>
</header>

<div class="form-group">
    @using (Html.BeginForm("Login", "Auth"))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "e-mail ")
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, "kode ")
            @Html.PasswordFor(m => m.Password)
        </div>
            <p>@ViewBag.Ex</p>
            <button type="submit">Login</button>

   }


