@model IEnumerable<Models.Article.ArticleDetailsViewModel>
@{
    const int MAX_LENGTH = 270;
}
<h3>Seneste nyheder</h3>
@foreach(var a in Model)
{
<article>
    <h3>@Html.ActionLink(a.Title, "Details", "Article", new { id = a.Id})</h3>
    <i>@a.DateCreated af @a.Author.Name</i>
    <p>
       @if(a.Content.Length > MAX_LENGTH){
           @a.Content.Substring(0, MAX_LENGTH)
       }else{
            @a.Content
       }

    </p>
</article>

}