@model Models.Article.ArticleDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}
<div>
    <header>
        <h2>@ViewBag.Title</h2>
        <i>@Html.DisplayFor(model => model.DateCreated) af @Html.DisplayFor(model => model.Author.Name) (@Html.DisplayFor(model => model.Author.Email))</i>
    </header>
    <br />
    <p>
        @Html.DisplayFor(model => model.Content)
    </p>
    @foreach (var tag in Model.Tags)
    {
        <p>
            @Html.ActionLink("#" + tag, "GetByTag", new { tag = tag })
        </p>
    }
        <div>
            @Html.ActionLink("Ændr", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Tilbage til oversigten", "Index")
        </div>

</div>




