@model Models.Article.ArticleDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <i>  @Html.DisplayFor(model => model.Author.Name) (@Html.DisplayFor(model => model.Author.Email)) </i>
</dd>
        <dd>
            <i>@Html.DisplayFor(model => model.DateCreated)</i>
        </dd>
        <br />
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <br />
        @foreach(var tag in Model.Tags){
        <dd>
            @Html.ActionLink("#" + tag, "GetByTag", new {  tag = tag }) 
        </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Ændr", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Tilbage til oversigten</a>
</div>
