@model IEnumerable<Models.Article.ArticleDetailsViewModel>


<h2>@ViewData["Title"]</h2>
<p>
    @using (Html.BeginForm("GetByTag", "Article", new { tag = "" }, FormMethod.Get))
    {

        <label>
            Søg på tag
            <input list="tags" name="tag" />
        </label>
        <datalist id="tags">
            @foreach(var t in ViewBag.Tags){
                <option value="@t" />
            }

        </datalist>
        <button type="submit">Søg</button>
    }
</p>

<p>
    <a asp-action="Create">Tilføj ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Ændr", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Læs", "Details", new { id = item.Id }) |
                @Html.ActionLink("Slet", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
